.dashboardWrapper {
  background-image: linear-gradient(
    to right top,
    #a8caba,
    #7daaae,
    #66889e,
    #626481,
    #5d4157
  );
  width: 100%;
  height: 95vh;
  overflow-x: hidden;
}
.inputWrapper {
  display: flex;
  width: 100%;
  height: 2em;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.searchInput {
  border: 1px solid #0e0e0e !important;
  border-radius: 5px;
  background: #a8caba;
  width: 300px;
  height: 40px;
  background-image: url("../../../public/assets/images/search-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 5em;
  font-weight: bold;
}

.searchInput:focus {
  outline: none;
}

.list {
  margin: 5px;
  max-height: 87vh;
  overflow-y: scroll;
}

.userMessageWrapper {
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noDataMessage {
  font-weight: 700;
  display: inline-block;
  width: 400px;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
}

.loaderWrapper{
    position:absolute;
    left:50%;
    top:50%;
}

/* mdedia queries */
@media screen and (max-width: 600px) {
  .userMessage {
    display: flex;
    flex-direction: column;
  }

  .welcomeImg {
    max-width: 20%;
    margin: auto;
  }

  .searchInput {
    width: 200px;
    padding-left: 3em;
  }
}
